@font-face {
    font-family: "Myriad Pro Regular";
    src: url("./fonts/Myriad Pro Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Myriad Pro Bold";
    src: url("./fonts/Myriad Pro Bold.ttf");
    font-weight: bold;
}


/*main article title*/

.mainTitle {
    font-family: "Myriad Pro Bold";
    font-size: 96px;
}


/*sub article title*/

.mainTitle2 {
    font-family: "Myriad Pro Bold";
    font-size: 60px;
}

nav {
    margin-top: 2%;
    margin-bottom: 2%;
}


/*subsub article title*/

.mainTitle3 {
    font-family: "Myriad Pro Regular";
    font-size: 24px;
    color: gray;
}


/*article content*/

p {
    font-family: "Myriad Pro Regular";
    font-size: 18px;
    /* width: 50%;
    word-break: normal;*/
}


/* based on next info, this will maybe be a particular p class*/

p.footer>a {
    font-family: "Myriad Pro Regular";
    font-size: 14px;
    color: gray;
    text-decoration: underline;
}


/*nav menu*/

nav>ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

a:link {
    font-family: "Myriad Pro Regular";
    font-size: 20px;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

nav>ul>li>a {
    color: gray;
}

p > a {
    color: gray;
}
nav>ul>a:active {
    font-weight: bold;
}

nav>ul>a:hover {
    font-weight: bold;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    margin: auto;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 1.0);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay .closebtn {
    margin: auto;
    width: 60px;
    font-size: 60px;
}

@media only screen and (max-width: 520px) {
    nav>ul {
        flex-direction: column;
        align-items: right;
    }
}
